networks:
   splunk:

services:

   splunk:
      image: splunk/splunk:latest
      environment:
        SPLUNK_START_ARGS: "--accept-license"
        SPLUNK_GENERAL_TERMS: "--accept-sgt-current-at-splunk-com"
        SPLUNK_PASSWORD: ${SPLUNK_PASSWORD}
        SPLUNK_HEC_TOKEN: ${SPLUNK_HEC_TOKEN}
      ports:
        - 8000:8000
        - 8088:8088
        - 8089:8089
      volumes:
        - ${PWD}/default.yml:/tmp/defaults/default.yml
        # - ${PWD}/spool/:/opt/splunk/var/spool/splunk/
      networks:
        - splunk

